<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <script src="/scripts/script.js" defer></script>
    <title>Triple</title>
</head>
<body>
    <nav>
        <ul>
            <li>Home</li>
            <li>Radios</li>
            <li>Ontdekken</li>
        </ul>
    </nav>